<div>
  <% @category.each do |category|%>
    <% if category.articles.any? %>
      <p><%= image_tag category.articles.most_recent.first.image if category.articles.most_recent.first.image.attached? %></p>
      <br>
      <p><%= link_to category.name, category_path(category) %></p>
      <div>
        <%= link_to category.articles.most_recent.first.title,  article_path(category.articles.most_recent.first) %>
      </div>
    <% else %>
      <p><%= link_to category.name,  category_path(category) %></p>
      <p>Oops! Looks like there's no articles</p>
    <% end %>  
  <% end %>
</div>