/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4e443e;
  justify-content: center;
  color: white;
  z-index: 100;
}

.font-color,
.media-icon {
  color: #fd6000;
}

.h-logo a {
  font-weight: bold;
  color:#4e443e;
  font-size: 2em;
  text-decoration: none;
}

.h-logo a:hover {
  text-decoration: none;
  color:#4e443e;
}

.f-logo a {
  font-weight: bold;
  color: white;
  font-size: 2em;
  text-decoration: none;
}

.f-logo a:hover {
  text-decoration: none;
  color: white;
}

.c-link a {
  color: #4e443e;
  font-weight: bold;
  text-decoration: none;
}

.c-link a:hover {
  text-decoration: none;
  color:#fd6000;
}

.buttons a {
  color:#4e443e;
  font-weight: bold;
  text-decoration: none;
}

.buttons a:hover {
  color:#fd6000;
  text-decoration: none;
}
