// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
  position: relative;
  height: 31rem;
  width: 100%;
}

.form-div {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  left: 25%;
  width: 50%;
  padding: 1rem;
}

.label {
  color: #fd6000;
  font-weight: 700;
}

.form-field {
  width: 100%;
  border: none;
  border-bottom: #3f210e 3px solid;
}

.submit {
  background-color: #fd6000;
  color:#3f210e;
  border: none;
}

.most-voted {
  position: relative;
  margin: 0.2rem;
  margin-top: 3.5rem;
  width: 100%;
  height: 35rem;
  background-image: url(./assets/images/house2.jpg);
  background-size: 100% 100%;
}

.most-voted-image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.voted-image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.most-voted-title {
  position: absolute;
  margin-left: 1rem;
  bottom: 15%;
  z-index: 2;
}

.most-voted-title a {
  color: #fd6000;
  font-weight: bold;
}

.most-voted-title a:hover {
  color: white;
  text-decoration: none;
}

.category-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.category-div {
  position: relative;
  background-size: 100% 100%;
  height: 14rem;
  width: 98%;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  background-image: url(./assets/images/thug.jpg);
}

.c-newest-image {
  position: absolute;
  height: 100%;
  width: 100%; 
}

.cnewestimage {
  position: absolute;
  height: 100%;
  width: 100%;
}

.c-name {
  position: absolute;
  top: 3%;
}

.c-name a {
  color: white;
  font-weight: bold;
}

.c-name a:hover {
  color: #fd6000;
  text-decoration: none;
}

.c-newest-title {
  position: absolute;
  left: 20%;
  bottom: 3%;
}

.c-newest-title a {
  color: white;
  font-weight: bold;
}

.c-newest-title a:hover {
  color: #fd6000;
  text-decoration: none;
}

.oops {
  position: absolute;
  top: 40%;
  left: 30%;
  font-weight: bolder;
}

