// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
  position: relative;
  height: 35rem;
  width: 100%;
  background-color: #4e443e;
}

.form-div {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  top: 10%;
  left: 25%;
  width: 50%;
  padding: 1rem;
}

.label {
  color: #fd6000;
  font-weight: 700;
}

.field {
  width: 90%;
}


